torch>=1.10.0
ansys-stk>=0.1.0
numpy>=1.21.0
torchvision>=0.11.0
torchaudio>=0.10.0
torchtext>=0.11.0
matplotlib>=3.5.0
Pillow>=10.0.0
tensorboard>=2.0.0
termcolor==2.4.0
opencv-python>=4.10.0
tqdm==4.66.4
